@{
    ViewBag.Title = "Index";
}

<section class="slice sct-color-1">
    <div class="container">
        <div class="section-title-wrapper style-1 v1 no-margin">
            <h3 class="section-title center">
                <span>Professor Jeff</span>
            </h3>
        </div>

        <p class="text-center mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis<br> faucibus
            eget quis lacus. Suspendisse sodales sed orci ac feugiat.
        </p>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>

                    <h3 class="block-title">Discover</h3>
                    <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-keyboard-o"></i>
                    </div>

                    <h3 class="block-title">Learn</h3>
                    <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-code"></i>
                    </div>

                    <h3 class="block-title">Research</h3>
                    <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-rocket"></i>
                    </div>

                    <h3 class="block-title">Think globally</h3>
                    <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Poems/sunglasses.png" class="img-responsive">              
            </div>
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>High learning standards</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
                <a href="#" class="btn btn-b-base-1 mt-20">Find out more</a>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Mordern aproaches for students</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
                <a href="#" class="btn btn-b-base-1 mt-20">Find out more</a>
            </div>
            <div class="col-md-4">
                <img src="~/Images/Poems/sunglasses.png" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Poems/sunglasses.png" class="img-responsive">
            </div>
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Dedicated support</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
                <a href="#" class="btn btn-b-base-1 mt-20">Find out more</a>
            </div>
        </div>
    </div>
</section>
