@{
    ViewBag.Title = "Bio";
}

        <section class="sct-color-1 slice">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Images/Website/Pro_Photo_2.jpg" class="img-responsive rounded">
                    </div>
                    <div class="col-md-8">
                        <!-- Section 1 -->
                        <div class="section-title-wrapper style-1 v1">
                            <h3 class="section-title left">
                                <span>Henry Crawford</span>
                            </h3>
                        </div>

                        <p>
                        Henry Crawford is a poet living and writing in the Washington, DC area.
                        His work has appeared in several journals and online publications including Boulevard,
                        Copper Nickel, Folio, Borderline Press and The Offbeat. His first collection of poetry, American Software, was 
                        released in May of 2017 by WordTech Communications through its imprint, CW Books.
                        </p>

                        <!-- Section 2 -->
                        <div class="section-title-wrapper style-1 v1 mt-20">
                            <h3 class="section-title left">
                                <span>Recognition</span>
                            </h3>
                        </div>
                                
                        <ul class="list-style-1">
                            <li><i class="fa fa-check-circle"></i> A finalist for 2018 Auburn Witness Poetry Prize Honoring Jake Adam York.</li>
                            <li><i class="fa fa-check-circle"></i> Honorable mention Moving Words 2018 poetry competition.</li>
                            <li><i class="fa fa-check-circle"></i> Honorable mention 2018 Beacon Celebration of the Arts competition.</li>
                            <li><i class="fa fa-check-circle"></i> Honorable mention 2018 World Food Day Poetry Competition</li>
                            <li><i class="fa fa-check-circle"></i> 2016 Pushcart nominee.</li>
                            <li><i class="fa fa-check-circle"></i> Honorable mention Boulevard's 2014 Poetry Contest for Emerging Poets.</li>
                            <li><i class="fa fa-check-circle"></i> Writes with the Surrey Street Poets.</li>
                        </ul>

                        <div class="row">
                                    
                            <div class="col-md-6">
                                <!-- Section 4 -->
                                <div class="section-title-wrapper style-1 v1 mt-20">
                                    <h3 class="section-title left">
                                        <span>Social Media</span>
                                    </h3>
                                </div>

                                <div class="social-media style-1 v4">
                                    <a href="https://www.facebook.com/AmericanSoftwarePoetry/" class="facebook">
                                        <i class="fa fa-facebook "></i>
                                    </a>
                                    <a href="mailto:HenryCrawfordPoetry@gmail.com" class="google-plus">
                                        <i class="fa fa-google-plus "></i>
                                    </a>
                                    <a href="https://twitter.com/Crawfam" class="twitter">
                                        <i class="fa fa-twitter "></i>
                                    </a>
                                </div>   
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

