@{
    ViewBag.Title = "Home";
}


@section AdditionalMetatags
{
<meta property="og:url" content="http://henrycrawfordpoetry.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Henry Crawford Poetry" />
<meta property="og:description" content="Poems, Videos, Events and Guest Artists." />
<meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Website/BookCvr.JPG" /> 
}

    <!-- CALL TO ACTION -->
@*    <section class="bg-base-1">
        <div class="cta-wrapper">
            <div class="container">
                <div class="row v-align-middle">
                    <div class="col-sm-9">
                        <h1 class="text-normal">
                            <strong>Next Reading: <span style="font-variant:small-caps">Sligo Journal, May 1st at Montgomery College, Takoma, Cafritz Bldg. 101</strong></h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="cta-button">
                            <a target="_blank" href="http://www.rockydude.com/poetry-readings.html" class="btn btn-lg btn-b-base-5">
                                More Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<!-- SECTION -->
    <!-- SECTION -->
    <section class="sct-color-1 slice">
        <div class="container">

            <div class="row">
                <div class="col-sm-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <a target="_blank" href="http://thebinaryplanet.com/">
                                <img style="border:1px solid;" src="~/images/Website/binary-planet-front-cover-300-x-450.png">
                            </a>
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Binary Planet
                            </h3>
                            <p>
                                Binary Planet is Henry Crawford's second collecton of poems. It is an innovative collection of poems exploring the infinity of worlds between&nbsp;&nbsp; 1 and 0. It is the planet of politics, love, computer programming, auto insurance, pro wrestling, black holes, the meaning of snow, cowboys and farmers, sex and its discontents, David Foster Wallace, The Twilight Zone,  video games, the 22nd Century, pinball, artificial intelligence, climate change, J.S. Bach, server rooms, Vietnam and a night at a 1950’s drive-in.
                            </p>
                            <div class="cta-button">
                                <a target="_blank" href="https://www.wordworksbooks.org/product/binary-planet/" class="btn btn-blue">
                                    Purchase from The Word Works
                                </a>
                            </div>
                            <br />
                            <div class="cta-button">
                                <a target="_blank" href="http://thebinaryplanet.com/" class="btn btn-blue">
                                    Visit the Binary Planet Website
                                </a>
                            </div>
                            <div style="margin-top:15px">
                                <div class="fb-like" data-href="https://HenryCrawfordPoetry.Com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                            <!-- space for next element -->
                            <br />
                            <div class="vertical-info">

                                <h4>Publisher</h4>
                                <p class="delimiter">The Word Works (2020)</p>

                                <h4>Paperback</h4>
                                <p class="delimiter">90pages</p>

                                <h4>ISBN</h4>
                                <p class="delimiter">9781944585402</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br />

            <div class="row">
                <div class="col-sm-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img style="border:1px solid;" src="~/Images/Website/BookCvr.jpg">
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                American Software
                            </h3>
                            <p>
                                Life as now experienced is largely organized, viewed and communicated using the language of computer systems. In American Software, Henry Crawford has created an original work reflecting the multi-layered, symbol-rich syntax of computer code with its abruptness and flow in order to explore work, family, culture, politics, war and death in contemporary America.
                            </p>

                            <a target="_blank" href="https://savvyverseandwit.com/2021/09/american-software-by-henry-crawford.html?fbclid=IwAR1tDVHuG5I4zVsT5Q2cN3W3V-LQ_g-hJdWocu-G2UX3t7xBjRVqib9zvgE">"American Software by Henry Crawford tackles a lot of America’s societal issues in an automated world — the disconnect between people, the death penalty, wonder, and the pull between life and death..." <b>Savvy Verse & Wit</b></a><br /><br />

                            @Html.ActionLink("Poems from the book", "AmericanSoftware", "Poems", null, new { @class = "btn btn-blue" })



                            <div style="margin-top:15px">
                                <div class="fb-like" data-href="https://HenryCrawfordPoetry.Com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                            <!-- space for next element -->
                            <br />
                            <div class="vertical-info">

                                <h4>Publisher</h4>
                                <p class="delimiter">CW Books (2017)</p>

                                <h4>Paperback</h4>
                                <p class="delimiter">102 pages</p>

                                <h4>ISBN</h4>
                                <p class="delimiter">9781625492319</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">

                    <div class="block style-8 style-8a bg-base-3">
                        <div class="block-body">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                The poems in their genius are composed with a language that could not be otherwise, as precise as it is individualized, the outcome being a careful transcription of our lives as they really are, as well as an unforgettable and deeply moving artistic accomplishment of the highest order.
                            </p>
                        </div>
                        <div class="info-author bg-base-5">
                            <div class="author-img">
                                <img src="~/Images/Website/davidkeplinger.jpg" height="80" alt="David Keplinger" />
                            </div>
                            <div class="author-info">
                                <span class="author-name"><a target="_blank" href="http://www.davidkeplingerpoetry.com/">David Keplinger</a></span>
                                <span class="author-pos">The Most Natural Thing</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="block style-8 style-8a bg-base-3">
                        <div class="block-body">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                The human condition weighs heavily in these exceptionally well-crafted poems that explore American history, pop culture, sci-fi...everything about the book — organization, layout, cover, and especially the individual poems—rises to an impressive level of mastery.
                            </p>
                            <br />
                        </div>
                        <div class="info-author bg-base-5">
                            <div class="author-img">
                                <img src="~/Images/Website/Karren_Alenier.jpg" alt="Karren Alenier" height="80" />
                            </div>
                            <div class="author-info">
                                <span class="author-name">Karren Alenier</span>
                                <span class="author-pos"><a target="_blank" href="http://scene4.com/0817/karrenlalondealenier0817.html">Scene4 Magazine</a>  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="block style-8 style-8a bg-base-3">
                        <div class="block-body">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Mr. Crawford's poems are inventive, uniquely well-crafted and felt...In the poem When [Box] Met	&#60;Diamond&#62; Mr. Crawford ingeniously intertwines a dialog within the poem. This is hard to accomplish successfully, but he carries it off while also contributing to the dialog on the art of poetry.
                            </p>
                        </div>
                        <div class="info-author bg-base-5">
                            <div class="author-img">
                                <img src="~/Images/Website/edwardnobles.jpg" alt="Edward Nobles" height="80" />
                            </div>
                            <div class="author-info">
                                <span class="author-name">Edward Nobles</span>
                                <span class="author-pos">Through One Tear: Poems</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="block style-8 style-8a bg-base-3">
                        <div class="block-body">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Crawford’s work is gloriously original and heartbreakingly truthful...his is a luminous collection where the poet takes big chances interspersing mechanical detail, like mental notes, within the line...Crawford has a canny ability to get into the psyche of personalities.
                            </p>
                            <br />
                        </div>
                        <div class="info-author bg-base-5">
                            <div class="author-img">
                                <img src="~/Images/Website/GraceCavalieri.jpg" alt="Grace Cavalieri" height="80" />
                            </div>
                            <div class="author-info">
                                <span class="author-name">Grace Cavalieri</span>
                                <span class="author-pos"><a target="_blank" href="http://www.washingtonindependentreviewofbooks.com/features/october-2017-exemplars-poetry-reviews-by-grace-cavalieri">Washington Independent Review of Books</a></span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div> 
                
    <br />
    <!-- CALL TO ACTION -->
    <section class="bg-base-1">
        <div class="cta-wrapper">
            <div class="container">
                <div class="row v-align-middle">
                    <div class="col-sm-9">
                        <h1 class="text-normal">
                            <strong>American Software now available for purchase at Amazon!</strong></h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="cta-button">
                            <a target="_blank" href="https://www.amazon.com/American-Software-Henry-Crawford/dp/1625492316/ref=sr_1_3?ie=UTF8&qid=1494872857&sr=8-3&keywords=american+software" class="btn btn-lg btn-b-base-5">
                                Go!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        
    </section>

                    
