@{
    ViewBag.Title = "JasonGebhardt";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/GuestArtists/JasonGebhardt" />
    <meta property="og:type" content="Guest Artist" />
    <meta property="og:title" content="Jason Gebhardt" />
    <meta property="og:description" content="Two poems about airports." />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/jfk_to_lax.jpg" />    
}


    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Jason Gebhardt</span>                      
                    <span class="section-subtitle">from Good Housekeeping</span>
                </h3> 
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Poems/jfk_to_lax.jpg" alt="Airport Waiting" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                JFK to LAX<br /><small>Jason Gebhardt</small>
                            </h3>                          
                            @Html.ActionLink("JFK to LAX", "Poem", "Poems", new { fileName="JFK_to_LAX.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                                        
                            <img src="~/Images/Poems/Leaving_by_Air.jpg" alt="Seat Belt Warning" />

                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Leaving by Air<br /><small>Henry Crawford</small>
                            </h3>
                            @Html.ActionLink("Leaving by Air", "Poem", "Poems", new { fileName="Leaving_by_Air.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
 
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>
    </section>


