@{
    ViewBag.Title = "JoanneRockyDelaplaine";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/GuestArtists/JoanneRockyDelaplaine" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Joanne Rocky Delaplaine" />
    <meta property="og:description" content="The Letter O." />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/letter_o.jpg" />    
}


    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Joanne Rocky Delaplaine</span>                      
                    <span class="section-subtitle">from her chapbook "The Letter O"</span>
                </h3> 
             </div>               
             <div class="row col-md-8" style="margin-bottom:10px">
                <p>Rocky Delaplaine has a new chapbook based on her poem <i>The Letter O</i>. The book was handcrafted by Rocky in <a href="https://www.writer.org/annebecker">Anne Becker’s</a> chapbook workshop at the <a href="http://www.writer.org/">Writer’s Center</a>. As a guest poet I’ve placed her award winning poem alongside my family tightrope walking poem from American Software. The subjects may be different, but the use of repetition to create a whimsical world for our stories tie these poems together.</p>
            </div>
            
            <div class="row">
                <div class="col-md-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Poems/letter_o.jpg" alt="The Letter O" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                The Letter O<br /><small>Rocky Delaplaine</small>
                            </h3>                          
                            @Html.ActionLink("The Letter O", "Poem", "Poems", new { fileName="letter_o.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                                        
                            <img src="~/Images/Poems/tightrope_family.jpg" alt="Tightrope family" />

                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Raised in a Tightrope Walking Family<br /><small>Henry Crawford</small>
                            </h3>
                            @Html.ActionLink("Raised in a Tightrope Walking Family", "Poem", "Poems", new { fileName="tightrope_walking_family.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
 
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>
    </section>



