@{
    ViewBag.Title = "Café Muse";
}


@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Events/CafeMuse" />
    <meta property="og:type" content="Poetry Event" />
    <meta property="og:title" content="Cafe Muse Poetry Reading" />
    <meta property="og:description" content="Reading: poets Henry Crawford & Jennifer Atkinson" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Events/HenrrCrawfordReading.jpg" />    
}

    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">

            <h3 class="section-title center">
                <span>Cafe Muse Poetry Reading</span>   
                <span class="section-subtitle"><small>October 23, 2017</small></span>                     
            </h3> 

            
            <div class="row">
                <div class="col-md-9">

                        <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/HenryCrawford_3.jpg" alt="Henry Crawford" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                The Word Works
                            </h3>
                            <p>
                                On Monday, October 23, 2017, The Word Works, in collaboration with Friendship Heights Village, will feature poetry of Henry Crawford and David Bergman. Café Muse opens at 7 pm with refreshments and classical guitar by Michael Davis; readings begin at 7:30. Friendship Heights Village Center is located at 4433 South Park Avenue, Chevy Chase, Maryland. All Café Muse programs are free to the public and are handicapped accessible.                            </p>   
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                            </div>                                                 
                        </div>
                    </div>

  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

           

            </div>
    </section>

