@{
    ViewBag.Title = "Events";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Events" />
    <meta property="og:type" content="Poetry Event" />
    <meta property="og:title" content="Readings & Events" />
    <meta property="og:description" content="Henry Crawford at Politics & Prose" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Events/Politics&ProseSquareLogo.JPG" />    
}

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">

            <h3 class="section-title center">
                <span>Politics and Prose</span>   
                <span class="section-subtitle"><small>Sunday, February 11 at 5 p.m.</small></span>                     
            </h3> 
            
            <div class="row">
                <div class="col-md-9">

                        <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/Politics&ProseSquareLogo.JPG" alt="Columbia Art Center" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                District Lines, Volume V
                            </h3>
                            <h3>Featuring Henry Crawford reading <i>Oh, Columbia</i></h3> 
                            <p>
                                The fifth edition of the popular P&P anthology of work by local writers and artists testifies to the city’s diverse social and cultural range. Henry Crawford will be reading his poem "Oh, Columbia" included in Volume V.</P>
                            <p>
                                Featuring both written and visual arts, from fiction, poetry, and essays to  photography and drawings, this collection is a vivid kaleidoscope of District life. Join us for a reading by some of the contributors.
                            </p>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://www.politics-prose.com/events/detailed-list?title=District+Lines">Politics and Prose</a></span>                                
                            </div>
                            <br />
                            <p>
                                5015 Connecticut Ave NW   Washington   DC    20008
                            </p>
                        </div>
                    </div>

                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

      </div>

    </section>



@*    <hr />

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Potter's House</span>   
                    <span class="section-subtitle"><small>November 18, 2017, 2:00 PM</small></span>    
                    <span class="label"><a target="_blank" href="https://takomaparkmd.gov/initiatives/arts-and-humanities/third-thursday-poet-reading-series/">Takoma Park Community Center</a></span>                 
                </h3>                                 


            <div class="row">
                <div class="col-md-9">

                    <div class="block block-image v3 mb-40">
                        <div class="block-content">
                            <h3 class="block-title">
                                Potter's House Reading
                            </h3>
                            <h3 class="caption-subtitle">Featuring Poets Ann Philips & Henry Crawford</h3>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                                <span class="label bg-purple"><a target="_blank" href="https://www.facebook.com/AmericanSoftwarePoetry/">Facebook</a></span>
                            </div> 

                            <span class="clearfix"></span>
                                            
                        </div>
                    </div>
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

            </div>
    </section>

    <hr />

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">

            <h3 class="section-title center">
                <span>Wilde Readings Poetry Reading</span>   
                <span class="section-subtitle"><small>November 14, 2017</small></span>                     
            </h3> 
            
            <div class="row">
                <div class="col-md-9">

                        <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/ColumbiaArtCenter.JPG" alt="Columbia Art Center" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Wilde Readings
                            </h3>
                            <h3>Featuring Henry Crawford & Susan Sonde</h3> 
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="https://www.columbiaassociation.org/facilities/columbia-art-center/">Columbia Art Center</a></span>                                
                            </div>                                                 
                        </div>
                    </div>

                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

           

            </div>
    </section>


<hr />

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">

            <h3 class="section-title center">
                <span>Cafe Muse Poetry Reading</span>   
                <span class="section-subtitle"><small>October 23, 2017</small></span>                     
            </h3> 

            
            <div class="row">
                <div class="col-md-9">

                        <div class="block block-image v3 mb-40">
                        <div class="block-content">
                            <h3 class="block-title">
                                The Word Works
                            </h3>
                            <p>
                                On Monday, October 23, 2017, The Word Works, in collaboration with Friendship Heights Village, will feature poetry of Henry Crawford and David Bergman. Café Muse opens at 7 pm with refreshments and classical guitar by Michael Davis; readings begin at 7:30. Friendship Heights Village Center is located at 4433 South Park Avenue, Chevy Chase, Maryland. All Café Muse programs are free to the public and are handicapped accessible.                            </p>   
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                            </div>                                                 
                        </div>
                    </div>

  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>          

      </div>

    </section>

    <hr />

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Third Thursday Poetry Series</span>   
                    <span class="section-subtitle"><small>September 28, 2017, 7:30 pm</small></span>    
                    <span class="label"><a target="_blank" href="https://takomaparkmd.gov/initiatives/arts-and-humanities/third-thursday-poet-reading-series/">Takoma Park Community Center</a></span>                 
                </h3>                                 


            <div class="row">
                <div class="col-md-9">

                    <div class="block block-image v3 mb-40">
                        <div class="block-content">
                            <h3 class="block-title">
                                Third Thursday Poetry Series
                            </h3>
                            <h3 class="caption-subtitle">Featuring Poets Henry Crawford - Ellen Aronofsky Cole - Carol Jennings</h3>
                            <h4 class="caption-subtitle">Hosted by Poet Laureate Donald Berger</h4>
                            <ul class="meta-info-cells v4 float-wrapper">
                                <li><i class="fa fa-user"></i><a href="#">Poetry Series</a></li>
                                <li><i class="fa fa-calendar"></i>September 28, 2017, 7:30 pm</li>
                            </ul>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                                <span class="label bg-purple"><a target="_blank" href="https://www.facebook.com/AmericanSoftwarePoetry/">Facebook</a></span>
                            </div> 

                            <span class="clearfix"></span>

                            <span class="clearfix"></span>
                                            
                        </div>
                    </div>
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

            </div>
    </section>

    <hr />

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Joaquin Miller Poetry Reading</span>   
                    <span class="section-subtitle"><small>July 9, 2017</small></span>                     
                </h3> 

            <div class="row">
                <div class="col-md-9">

                    <div class="block block-image v3 mb-40">
                        <div class="block-content">
                            <h3 class="block-title">
                                Joaquin Miller Poetry
                            </h3>
                            <h3 class="caption-subtitle">Featuring Poets Henry Crawford & Maggie Rosen</h3>
                            <h4 class="caption-subtitle">Hosted by Karren Alenier & Maggie Briand</h4>
                            <ul class="meta-info-cells v4 float-wrapper">
                                <li><i class="fa fa-user"></i><a href="#">Poetry Series</a></li>
                                <li><i class="fa fa-calendar"></i> July 9, 2017</li>
                            </ul>

                            <span class="clearfix"></span>

                            <span class="clearfix"></span>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://www.wordworksbooks.org/">The Word Works</a></span>
                                <span class="label bg-purple"><a target="_blank" href="https://www.facebook.com/events/231860500631750/">Facebook</a></span>
                            </div>                                              
                        </div>
                    </div>
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

            </div>
    </section>*@
