@{
    ViewBag.Title = "Third Thursday Poetry Series";
}


@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Events/ThirdThursdayPoetrySeries" />
    <meta property="og:type" content="Poetry Event" />
    <meta property="og:title" content="Joaquin Miller Poetry Reading" />
    <meta property="og:description" content="Reading: poets Henry Crawford & Maggie Rosen" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Events/HenrrCrawfordReading.jpg" />    
}



    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Third Thursday Poetry Series</span>   
                    <span class="section-subtitle"><small>September 28, 2017, 7:30 pm</small></span>    
                    <span class="label bg-purple"><a target="_blank" href="https://takomaparkmd.gov/initiatives/arts-and-humanities/third-thursday-poet-reading-series/">Takoma Park Community Center</a></span>                 
                </h3>                                 


            <div class="row">
                <div class="col-md-9">

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                 
                             <img src="~/Images/Events/HenryCrawford_3.jpg" alt="Henry Crawford" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Third Thursday Poetry Series
                            </h3>
                            <h3 class="caption-subtitle">Featuring Poets Henry Crawford - Ellen Aronofsky Cole - Carol Jennings</h3>
                            <h4 class="caption-subtitle">Hosted by Poet Laureate Donald Berger</h4>
                            <ul class="meta-info-cells v4 float-wrapper">
                                <li><i class="fa fa-user"></i><a href="#">Poetry Series</a></li>
                                <li><i class="fa fa-calendar"></i>September 28, 2017, 7:30 pm</li>
                            </ul>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                                <span class="label bg-purple"><a target="_blank" href="https://www.facebook.com/AmericanSoftwarePoetry/">Facebook</a></span>
                            </div> 

                            <span class="clearfix"></span>

                            <span class="clearfix"></span>
                                            
                        </div>
                    </div>
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

            </div>
    </section>

