@{
    ViewBag.Title = "WildeReadings";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Events/WildeReadings" />
    <meta property="og:type" content="Poetry Event" />
    <meta property="og:title" content="WildeReadings Poetry Reading" />
    <meta property="og:description" content="Reading: poets Henry Crawford & Susan Sonde" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Events/HenrrCrawfordReading.jpg" />    
}

    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">

            <h3 class="section-title center">
                <span>Wilde Readings Poetry Reading</span>   
                <span class="section-subtitle"><small>November 14, 2017</small></span>                     
            </h3> 
            
            <div class="row">
                <div class="col-md-9">

                        <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/ColumbiaArtCenter.JPG" alt="Columbia Art Center" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Wilde Readings
                            </h3>
                            <p>
                                 Howard County's monthly literary and open mic series.</p>   
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="https://www.columbiaassociation.org/facilities/columbia-art-center/">Columbia Art Center</a></span>                                
                            </div>                                                 
                        </div>
                    </div>
                    
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/HenryCrawford_3.jpg" alt="Henry Crawford" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Henry Crawford
                            </h3>
                            <p>
                                Henry Crawford is a poet living and writing in the Washington, DC area. His work has appeared in several journals and online publications including Boulevard, Copper Nickel, Folio, Borderline Press and The Offbeat. He was a 2016 nominee for a Pushcart Prize for his poem “The City of Washington” appearing in District Lit. His first collection of poetry, American Software, was published in the Spring of 2017 by CW Books.
                            </p>   
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="http://henrycrawfordpoetry.com/">American Software</a></span>
                                <span class="label bg-purple"><a target="_blank" href="https://www.facebook.com/AmericanSoftwarePoetry/">Facebook</a></span>
                            </div>                                                 
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Events/SusanSonde.jpg" alt="Jennifer Atkinson" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Susan Sonde
                            </h3>
                            <p>
                                Susan Sonde's collections include: INLAND IS PARENTHETICAL (Dryad Press), IN THE LONG BOATS WITH OTHERS (New Rivers Press, Winner of The Capricorn Book Award). Her poems have appeared in The Southern Humanities Review, The Mississippi Review, Epoch, Narrative Magazine on line, The Writer's Digest, Northwest Review, Puerto del Sol, Southern Review, The Cimarron Review, American Letters and Commentary, and many others.
                            </p>
                            <div class="mt-15">
                                <span class="label bg-red"><a target="_blank" href="https://www.amazon.com/Susan-Sonde/e/B001KMEFH6">Susan Sonde Books</a></span>
                                <span class="label bg-purple"><a target="_blank" href="http://bombmagazine.org/article/1374/two-poems">Two Poems</a></span>
                            </div>
                        </div>
                    </div>
 
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>

           

            </div>
    </section>


