@{
    ViewBag.Title = "Online";
}

@section AdditionalMetatags
{
    @*<meta property="og:url" content="http://henrycrawfordpoetry.com/Poems/Online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Poems on the Web" />
    <meta property="og:description" content="online gallery" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Website/online_poems.jpg" />*@

        <meta property="og:url" content="http://henrycrawfordpoetry.com/Poems/Online" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="American Nightmare" />
        <meta property="og:description" content="Yalobusha Review" />
        <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/henry_crawford_american_nightmare.jpg" />       
}


@section Styles
{

    <!-- Cube Portfolio -->
    <link rel="stylesheet" href="~/Content/assets/cubeportfolio/css/cubeportfolio.min.css">


    <!-- ANIMATE -->
    <link rel="stylesheet" href="~/Content/assets/animate/animate.min.css" type="text/css">

}


<div class="container">




    <!-- SORT LIST BAR -->
    <div class="sort-list-bar sct-color-1 style-2 text-center">

        <div class="section-title-wrapper style-1 v1">
            <h3 class="section-title center">
                <span>Online Gallery</span>
            </h3>
        </div>


        <div class="container">
            <div id="filters-container" class="cbp-l-filters-button">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter">12</div>
                </div>
                <div data-filter=".witness" class="cbp-filter-item">
                    Witness <div class="cbp-filter-counter">8</div>
                </div>
                <div data-filter=".technology" class="cbp-filter-item">
                    Technology <div class="cbp-filter-counter">4</div>
                </div>
                <div data-filter=".ekphrastic" class="cbp-filter-item">
                    Ekphrastic <div class="cbp-filter-counter">4</div>
                </div>
                <div data-filter=".prose_poem" class="cbp-filter-item-active cbp-filter-item">
                    Prose Poems <div class="cbp-filter-counter">2</div>
                </div>
                <div data-filter=".car" class="cbp-filter-item">
                    Driving Cars <div class="cbp-filter-counter">5</div>
                </div>
                <div data-filter=".war" class="cbp-filter-item">
                    War <div class="cbp-filter-counter">3</div>
                </div>
                <div data-filter=".multi-media" class="cbp-filter-item">
                    Multi-Media <div class="cbp-filter-counter">1</div>
                </div>
            </div>
        </div>
    </div>

    <!-- SORT LIST ITEMS -->
    <section class="sort-list-wrapper sct-color-1">
        <div class="cbp-container cbp-boxed">
            <div id="grid-container" class="cbp-l-grid-fullWidth">


                <div class="cbp-item prose-poem witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_american_nightmare.jpg" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://yr.olemiss.edu/piece/crawford/" target="_blank" class="btn btn-sm btn-base-5">Yalobusha Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://yr.olemiss.edu/piece/crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">American Nightmare</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Yalobusha Review</div>
                </div>


                <div class="cbp-item witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_prayers_in_need.jpg" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://www.poetryxhunger.com/now-more-than-ever-submitted-poems/poem-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">Poetry X Hunger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://www.poetryxhunger.com/now-more-than-ever-submitted-poems/poem-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">Prayers in Need</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Poetry X Hunger</div>
                </div>



                <div class="cbp-item prose_poem">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_say_goodbye_to_hollywood.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://www.themetaworker.com/2020/03/09/say-goodbye-to-hollywood-by-henry-crawford/" target="_blank" class="btn btn-sm btn-base-5">The Metaworker</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://www.themetaworker.com/2020/03/09/say-goodbye-to-hollywood-by-henry-crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">Say Goodbye to Hollywood</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Metaworker</div>
                </div>


                <div class="cbp-item ekphrastic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_lavender_mist_1.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.ekphrastic.net/ekphrastic/lavender-mist-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.ekphrastic.net/ekphrastic/lavender-mist-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">Lavender Mist</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item technology">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap" style="border:double;">
                            <img src="~/Images/Poems/henry_crawford_four_poems_otoliths.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://the-otolith.blogspot.com/2020/01/henry-crawford.html" target="_blank" class="btn btn-sm btn-base-5">Otoliths</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://the-otolith.blogspot.com/2020/01/henry-crawford.html" target="_blank" class="cbp-l-grid-masonry-projects-title">Four Poems</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Otoliths</div>
                </div>


                <div class="cbp-item technology">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_a_i_ poem_ app.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.pioneertownlit.com/two-poems-from-henry-crawford#block-yui_3_17_2_1_1569867217246_12556" target="_blank" class="btn btn-sm btn-base-5">Pioneertown</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.pioneertownlit.com/two-poems-from-henry-crawford#block-yui_3_17_2_1_1569867217246_12556" target="_blank" class="cbp-l-grid-masonry-projects-title">A.I. Poem App</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Pioneertown</div>
                </div>




                <div class="cbp-item prose_poem">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_teenage_soap_opera.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.pioneertownlit.com/two-poems-from-henry-crawford#block-yui_3_17_2_1_1569867217246_8363" target="_blank" class="btn btn-sm btn-base-5">Pioneertown</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.workliterarymagazine.com/submission/henry-crawford-12302019/" target="_blank" class="cbp-l-grid-masonry-projects-title">Teenage Soap Opera</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Pioneertown</div>
                </div>




                <div class="cbp-item car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_short_story_writer_at_the_mva.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.workliterarymagazine.com/submission/henry-crawford-12302019/" target="_blank" class="btn btn-sm btn-base-5">Work Literary Magazine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.workliterarymagazine.com/submission/henry-crawford-12302019/" target="_blank" class="cbp-l-grid-masonry-projects-title">Short Story Writer at the MVA</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Work Literary Magazine</div>
                </div>


                <div class="cbp-item witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_fruits_of_famine.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.fao.org/north-america/news/detail/en/c/1238855/?fbclid=IwAR1AYI4l5BfHFUfyHW2xO3uQy9aCNfRTK8FU0Pp7LX8YheIO9d0ra-s-EP0" target="_blank" class="btn btn-sm btn-base-5">Poetry X Hunger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.fao.org/north-america/news/detail/en/c/1238855/?fbclid=IwAR1AYI4l5BfHFUfyHW2xO3uQy9aCNfRTK8FU0Pp7LX8YheIO9d0ra-s-EP0" target="_blank" class="cbp-l-grid-masonry-projects-title">The Fruits of Famine</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Poetry X Hunger</div>
                </div>

                <div class="cbp-item car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_driving_by_a_farm.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://districtlit.com/2019/10/11/farm-crawford/" target="_blank" class="btn btn-sm btn-base-5">District Lit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://districtlit.com/2019/10/11/farm-crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">Driving by a Farm at a Distance</a>
                    <div class="cbp-l-grid-masonry-projects-desc">District Lit</div>
                </div>

                <div class="cbp-item prose_poem">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_cowboy_dreaming.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://runebear.com/weekly/cowboy-dreaming/" target="_blank" class="btn btn-sm btn-base-5">Rune Bear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://runebear.com/weekly/cowboy-dreaming/" target="_blank" class="cbp-l-grid-masonry-projects-title">Cowboy Dreaming</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Rune Bear</div>
                </div>

                <div class="cbp-item prose_poem car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_making_an_auto_insurance_claim.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://winningwriters.com/past-winning-entries/making-an-auto-insurance-claim" class="btn btn-sm btn-base-5">Winning Writers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://winningwriters.com/past-winning-entries/making-an-auto-insurance-claim" target="_blank" class="cbp-l-grid-masonry-projects-title">Making An Auto Insurance Claim</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Winning Writers</div>
                </div>

                <div class="cbp-item technology witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_the_artificial_policeman.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.poetsreadingthenews.com/2019/07/the-artificial-policeman/" target="_blank" class="btn btn-sm btn-base-5">Poets Reading the News</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.poetsreadingthenews.com/2019/07/the-artificial-policeman/" target="_blank" class="cbp-l-grid-masonry-projects-title">The Artificial Policeman</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Poets Reading the News</div>
                </div>

                <div class="cbp-item ekphrastic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_black_hole_ekphrastic.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/black-hole-ekphrastic-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/black-hole-ekphrastic-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">Black Hole Ekphrastic</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_terror_house_three_poems.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://terrorhousemag.com/traffic-jam/" target="_blank" class="btn btn-sm btn-base-5">Terror House Magazine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://terrorhousemag.com/traffic-jam/" target="_blank" class="cbp-l-grid-masonry-projects-title">Three For The Road</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Terror House Magazine</div>
                </div>

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_otolith_four_poems.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" target="_blank" class="btn btn-sm btn-base-5">Otolith</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" target="_blank" class="cbp-l-grid-masonry-projects-title">Four Poems</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Otolith</div>
                </div>

                <div class="cbp-item car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_asleep_at_wheel.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://anthonywatkins.wixsite.com/btsmar2019/experimental-found-prose-poetry" target="_blank" class="btn btn-sm btn-base-5">Better Than Starbucks</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://anthonywatkins.wixsite.com/btsmar2019/experimental-found-prose-poetry" target="_blank" class="cbp-l-grid-masonry-projects-title">Asleep At The Wheel</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Better Thank Starbucks</div>
                </div>

                <div class="cbp-item graphic witness car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_driving_across_a_bridge.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://intothevoidmagazine.com/article/driving-across-a-bridge/" target="_blank" class="btn btn-sm btn-base-5">Into the Void</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://intothevoidmagazine.com/article/driving-across-a-bridge/" target="_blank" class="cbp-l-grid-masonry-projects-title">Driving Across a Bridge</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Into the Void</div>
                </div>

                @*<div class="cbp-item graphic motion">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Images/Poems/henry_crawford_the_metakiller.jpg">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="portfolio-item-1.html" target="_blank" class="btn btn-sm btn-base-5">The MetaKiller</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="portfolio-item-1.html" target="_blank" class="cbp-l-grid-masonry-projects-title">The MetaKiller</a>
            <div class="cbp-l-grid-masonry-projects-desc">Scryptic Magazine of Alternative Art</div>
        </div>*@

                <div class="cbp-item multi-media">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_windows_and_secrets.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://slipperyelm.findlay.edu/wp-content/uploads/2018/12/Secrets__Windows-2.html" target="_blank" class="btn btn-sm btn-base-5">Slippery Elm Journal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://slipperyelm.findlay.edu/wp-content/uploads/2018/12/Secrets__Windows-2.html" target="_blank" class="cbp-l-grid-masonry-projects-title">Windows & Secrets</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Slippery Elm Journal</div>
                </div>

                <div class="cbp-item graphic technology car">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_bot.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://terrorhousemag.com/bot/?fbclid=IwAR1OTnIDvawESLxkCnYTeYMQZtqex6PLUJ-1BH7iQbuj_jeSj72pVnwAsr4" target="_blank" class="btn btn-sm btn-base-5">Terror House Magazine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://terrorhousemag.com/bot/?fbclid=IwAR1OTnIDvawESLxkCnYTeYMQZtqex6PLUJ-1BH7iQbuj_jeSj72pVnwAsr4" target="_blank" class="cbp-l-grid-masonry-projects-title">Bot, David Foster Wallace and Seven Traffic Lights</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Terror House Magazine</div>
                </div>

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_sketch_of_a_poem_in_10_broken_lines.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://www.moriaonline.com/issue-two-2018-1/2018/11/19/title" target="_blank" class="btn btn-sm btn-base-5">MORIA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://www.moriaonline.com/issue-two-2018-1/2018/11/19/title" target="_blank" class="cbp-l-grid-masonry-projects-title">Sketch of a Poem in 10 Broken Lines</a>
                    <div class="cbp-l-grid-masonry-projects-desc">MORIA</div>
                </div>

                <div class="cbp-item technology">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_game_on.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://www.themetaworker.com/2018/10/15/game-on-by-henry-crawford/" target="_blank" class="btn btn-sm btn-base-5">The Metaworker</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://www.themetaworker.com/2018/10/15/game-on-by-henry-crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">Game [On]</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Metaworker</div>
                </div>

                <div class="cbp-item ekphrastic witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_forsaken.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/forsaken-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/forsaken-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">Forsaken</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/7_disappearing_words.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    @Html.ActionLink("Lummox 7", "Poem", "Poems", new { fileName = "7_disappearing_words.html" }, new { @class = "btn btn-sm btn-base-5", target = "_blank" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("7 Disappearing Words", "Poem", "Poems", new { fileName = "7_disappearing_words.html" }, new { @class = "cbp-l-grid-masonry-projects-title", target = "_blank" })
                    <div class="cbp-l-grid-masonry-projects-desc">Lummox 7</div>
                </div>

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/walt_whitman_ekphrastic.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://infii.weebly.com/henry-crawford.html" target="_blank" class="btn btn-sm btn-base-5">Mannequin Haus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://infii.weebly.com/henry-crawford.html" target="_blank" class="cbp-l-grid-masonry-projects-title">Walt Whitman Ekphrastic</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Mannequin Haus</div>
                </div>

                <div class="cbp-item war witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/a_non-combatants_vietnam.JPG" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="https://anthonywatkins.wixsite.com/btsjul2018/formal-rhyming-poetry" target="_blank" class="btn btn-sm btn-base-5">Better Than Starbucks!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="https://anthonywatkins.wixsite.com/btsjul2018/formal-rhyming-poetry" target="_blank" class="cbp-l-grid-masonry-projects-title">A Non-Combatants' Vietnam</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Better Than Starbucks!</div>
                </div>

                @*<div class="cbp-item web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Images/Poems/and_now_message_from_managment_FB.jpg">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="portfolio-item-1.html" target="_blank" class="btn btn-sm btn-base-5">Scryptic Magazine of Alternative Art</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="portfolio-item-1.html" target="_blank" class="cbp-l-grid-masonry-projects-title">And Now a Word From the Managment</a>
            <div class="cbp-l-grid-masonry-projects-desc">Scryptic Magazine of Alternative Art</div>
        </div>*@

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/Henry_Crawford_Taking_the_Fall.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://typishly.com/2018/01/17/taking-the-fall/" target="_blank" class="btn btn-sm btn-base-5">Typishly</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://typishly.com/2018/01/17/taking-the-fall/" target="_blank" class="cbp-l-grid-masonry-projects-title">Taking the Fall</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Typishly</div>
                </div>

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_brain_imaging.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://whimperbang.com/issue-16/henry-crawford/" target="_blank" class="btn btn-sm btn-base-5">Whimperbang</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://whimperbang.com/issue-16/henry-crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">Brain Imaging</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Whimperbang</div>
                </div>

                <div class="cbp-item prose-poem">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/sonnesphere.png">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    @Html.ActionLink("The Sonnosphere", "Poem", "Poems", new { fileName = "henry_crawford_the_sonnosphere.html" }, new { @class = "btn btn-sm btn-base-5", target = "_blank" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("The Sonnosphere", "Poem", "Poems", new { fileName = "henry_crawford_the_sonnosphere.html" }, new { @class = "cbp-l-grid-masonry-projects-title", target = "_blank" })
                    <div class="cbp-l-grid-masonry-projects-desc">Olentangy Review</div>
                </div>

                @*<div class="cbp-item web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Images/Poems/HAL_9000.PNG">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="portfolio-item-1.html" target="_blank" class="btn btn-sm btn-base-5">Lit.Cat</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="portfolio-item-1.html" target="_blank" class="cbp-l-grid-masonry-projects-title">HAL 9000</a>
            <div class="cbp-l-grid-masonry-projects-desc">Lit.Cat</div>
        </div>*@

                <div class="cbp-item witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/It_Does_Kind_of_Burn.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.versedaily.org/2015/itdoeskindofburn.shtml" target="_blank" class="btn btn-sm btn-base-5">Verse Daily</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.versedaily.org/2015/itdoeskindofburn.shtml" target="_blank" class="cbp-l-grid-masonry-projects-title">It Does Kind of Burn. Goodbye</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Verse Daily</div>
                </div>

                <div class="cbp-item ekphrastic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_orange_and_red_on_red.jpg" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/orange-and-red-on-red-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/orange-and-red-on-red-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">Orange and Red on Red</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item technology witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/santa_clara_server_room.png">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.wildagepress.com/santa-clara-server-room-by-henry-crawford/" target="_blank" class="btn btn-sm btn-base-5">Wild Age Press</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.wildagepress.com/santa-clara-server-room-by-henry-crawford/" target="_blank" class="cbp-l-grid-masonry-projects-title">Santa Clara Server Room</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Wild Age Press</div>
                </div>

                <div class="cbp-item ekphrastic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/One_Minute_Forty_Five.PNG">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/one-minute-forty-five-of-the-first-round-by-henry-crawford" target="_blank" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.ekphrastic.net/the-ekphrastic-review/one-minute-forty-five-of-the-first-round-by-henry-crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">One Minute Forty-Five of the First Round</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item america">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/metro_center.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://districtlit.com/post/146558744231/crawford" target="_blank" class="btn btn-sm btn-base-5">District Lit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://districtlit.com/post/146558744231/crawford" target="_blank" class="cbp-l-grid-masonry-projects-title">The City of Washington</a>
                    <div class="cbp-l-grid-masonry-projects-desc">District Lit</div>
                </div>

                <div class="cbp-item witness">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/Maddie.JPG">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://mothersalwayswrite.com/every-morning-maddie/" target="_blank" class="btn btn-sm btn-base-5">Mothers Always Write</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://mothersalwayswrite.com/every-morning-maddie/" target="_blank" class="cbp-l-grid-masonry-projects-title">Every Morning, Maddie</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Mothers Always Write</div>
                </div>

                <div class="cbp-item war">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/one_afternoon_in_the_american_civil_war.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://www.versedaily.org/2017/afternoonamericancivilwar.shtml" target="_blank" class="btn btn-sm btn-base-5">Verse Daily</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.versedaily.org/2017/afternoonamericancivilwar.shtml" target="_blank" class="cbp-l-grid-masonry-projects-title">One Afternoon in the American Civil War</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Verse Daily</div>
                </div>

                <div class="cbp-item war">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_remembering_100_years_of_the_first_world_war.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="http://wlajournal.com/wlaarchive/29/crawford.pd" target="_blank" class="btn btn-sm btn-base-5">Journal of War</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://wlajournal.com/wlaarchive/29/crawford.pd" target="_blank" class="cbp-l-grid-masonry-projects-title">Remembering 100 Years of the First World War</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Journal of War, Literature & the Arts</div>
                </div>


            </div> <!-- end grid container -->

        </div>

    </section>

</div>


@section Scripts
{

    <!-- Cube Portfolio -->
    <script src="~/Content/assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Content/assets/cubeportfolio/js/jquery.cubeportfolio-4b.js"></script>

    <!-- App JS -->
    <script src="~/js/dvs.app.js"></script>
}

