@{
    ViewBag.Title = "Online";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/online/#and_now_a_word_from_the_management" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="And Now a Word From the Management" />
    <meta property="og:description" content="Scryptic Magazine, 1.4, March 2018" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/and_now_message_from_managment_FB.jpg" />
}
<
    <!-- SECTION -->
    <section class="sct-color-1 slice">
        <div class="container">

            <div class="row">

                <div class="col-md-9">

                  <div id="and_now_a_word_from_the_management" class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/and_now_message_from_managment_FB.jpg">
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                And Now a Word From the Management
                            </h3>
                            <a target="_blank" href="http://scrypticmagazine.wixsite.com/scryptic/current-issue" class="btn btn-sm btn-b-base-1 mt-15">Scryptic Magazine, 1.4, March 2018</a>
                            <br /><br />
                            <a target="_blank" href="@Url.Action("Poem", "Poems", new {fileName="henry_crawford_and_now_a_word_from_the_managment.html"})" >HTML Version of the Poem</a>
                            <br /><br />
                            <p>Audio Reading of the Poem:</p>
                            <audio controls preload="none" style="width:280px;">
                             <source src="~/videos/Word_From_Managment.mp3" type="audio/mp3" />                             
                             <p>Your browser does not support HTML5 audio.</p>
                             </audio>
                             <p>
                             <strong>Download Audio:</strong>
                             <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,                             
                             </p>
                        </div>
                    </div>

                  <div id="taking-the-fall" class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Henry_Crawford_Taking_the_Fall.jpg">
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Taking the Fall
                            </h3>
                            <p>
                            Typishly
                            </p>
                            <a target="_blank" href="http://typishly.com/2018/01/17/taking-the-fall/" class="btn btn-sm btn-b-base-1 mt-15">Taking the Fall</a>
                            <br /><br />
                            <p>Audio Reading of the Poem:</p>
                            <audio controls preload="none" style="width:280px;">
                             <source src="~/videos/Taking_The_Fall.mp3" type="audio/mp3" />                             
                             <p>Your browser does not support HTML5 audio.</p>
                             </audio>
                             <p>
                             <strong>Download Audio:</strong>
                             <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,                             
                             </p>
                        </div>
                    </div>

                     <div id="brain-imaging" class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/henry_crawford_brain_imaging.jpg">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Brain Imaging
                            </h3>
                            <p>
                            Whimperbang: January, 2018
                            </p>
                            <a target="_blank" href="http://whimperbang.com/issue-16/henry-crawford/" class="btn btn-sm btn-b-base-1 mt-15">Brain Imaging</a>
                            <br /><br />
                            <p>Audio Reading of the Poem:</p>
                            <audio controls preload="none" style="width:280px;">
                             <source src="~/videos/Brain_Imaging.mp3" type="audio/mp4" />                             
                             <p>Your browser does not support HTML5 audio.</p>
                             </audio>
                             <p>
                             <strong>Download Audio:</strong>
                             <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,                             
                             </p>
                        </div>
                    </div>

                    <div id="the-sonnosphere" class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/sonnesphere.png">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                The Sonnosphere
                            </h3>
                            <p>
                            Olentangy Review: Winter, 2017
                            </p>
                            <a target="_blank" href="http://olentangyreview.com/index.html" class="btn btn-sm btn-b-base-1 mt-15">Olentangy Review</a>
                            <br /><br />
                            <a target="_blank" href="@Url.Action("Poem", "Poems", new {fileName="henry_crawford_the_sonnosphere.html"})" >The Sonnosphere [Fragments of a Sci-Fi Space Epic]</a>
                            <br /><br />
                            <p>Audio Reading of the Poem:</p>
                            <audio controls preload="none" style="width:280px;">
                             <source src="~/videos/The_Sonnosphere.mp3" type="audio/mp3" />                             
                             <p>Your browser does not support HTML5 audio.</p>
                             </audio>
                             <p>
                             <strong>Download Audio:</strong>
                             <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,                             
                             </p>
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/HAL_9000.PNG">    
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                HAL 9000
                            </h3>
                            <ul class="inline-meta">
                                <li><a  href="http://lit.cat/">Lit.Cat</a></li>
                            </ul>
                            <p>
                            What made a good computer go bad? Here's HAL's story a year before the Jupiter launch.
                            </p>                                        
                            <a target="_blank" href="http://lit.cat/reads/hal-9000" class="btn btn-sm btn-b-base-1 mt-15">HAL 9000</a>
                        </div>
                    </div>
 
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/It_Does_Kind_of_Burn.jpg">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                <a href="http://www.versedaily.org/2015/itdoeskindofburn.shtml">It Does Kind of Burn. Goodbye.</a>
                            </h3>
                            <p>
                            The last words of Jose Villegas before being put to death by lethal injection by the State of Texas on April 16, 2014.
                            </p>
                            <a target="_blank" href="http://www.versedaily.org/2015/itdoeskindofburn.shtml" class="btn btn-sm btn-b-base-1 mt-15">Verse Daily</a>
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Orange_and_Red_on_Red.PNG">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Orange and Red on Red
                            </h3>
                            <p>
                            An ekphrastic poem drawn from a masterpiece of abstract expressionism by Mark Rothko.
                            </p>
                            <a target="_blank" href="http://www.ekphrastic.net/the-ekphrastic-review/orange-and-red-on-red-by-henry-crawford" class="btn btn-sm btn-b-base-1 mt-15">Ekphrastic Review</a>
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/santa_clara_server_room.png" alt="Black Computer Keyboard" />   
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Santa Clara Server Room
                            </h3>
                            <p>
                            Two computer programers seaching a database for a box gone missing in the South China Sea.
                            </p>
                            <a target="_blank" href="http://www.wildagepress.com/santa-clara-server-room-by-henry-crawford/" class="btn btn-sm btn-b-base-1 mt-15">Wild Age Press</a>
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/One_Minute_Forty_Five.PNG" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                One Minute Forty-Five of the First Round
                            </h3>
                            <p>
                            An ekphrastic moment at the intersection of violence and art.
                            </p>
                            <a  href="http://www.ekphrastic.net/the-ekphrastic-review/one-minute-forty-five-of-the-first-round-by-henry-crawford" class="btn btn-sm btn-b-base-1 mt-15">Ekphrastic Review</a>
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Poems/metro_center.jpg" alt="City of Washington" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                The City of Washington
                            </h3>
                            <p>
                            Two poems showing our town as a city of change in post-war 1948 and in the midst of reconstruction in 1873.
                            </p>
                            <a  target="_blank" href="http://districtlit.com/post/146558744231/crawford" class="btn btn-sm btn-b-base-1 mt-15">District Lit</a>
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Maddie.JPG">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Every Morning, Maddie
                            </h3>
                            <p>
                            A parent. A daughter. Addiction.
                            </p>
                            <a target="_blank" href="http://mothersalwayswrite.com/every-morning-maddie/" class="btn btn-sm btn-b-base-1 mt-15">Mothers Always Write</a>
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/one_afternoon_in_the_american_civil_war.jpg">                            
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                One Afternoon in the American Civil War
                            </h3>
                            <p>
                            A dying soldier speaks to us from the past. 
                            </p>
                            <a target="_blank" href="http://www.versedaily.org/2017/afternoonamericancivilwar.shtml" class="btn btn-sm btn-b-base-1 mt-15">Verse Daily</a>
                        </div>
                    </div>

                    <div id="scryptic_magazine" class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/scryptic_magazine.jpg">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Scryptic Magazine
                            </h3>                            
                            <a target="_blank" href="http://scrypticmagazine.wixsite.com/scryptic" class="btn btn-sm btn-b-base-1 mt-15">Scryptic Magazine</a>
                            <br /><br />
                            
                        </div>
                    </div>

                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>
    </section>