@{
    ViewBag.Title = "TestOnline";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Black Hole Ekphrastic " />
    <meta property="og:description" content="The Ekphratic Review" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/henry_crawford_black_hole_ekphrastic.jpg" />
}

@section Styles
{

    <!-- Cube Portfolio -->
    <link rel="stylesheet" href="~/Content/assets/cubeportfolio/css/cubeportfolio.min.css">


    <!-- ANIMATE -->
    <link rel="stylesheet" href="~/Content/assets/animate/animate.min.css" type="text/css">

}


<div class="container">

    <!-- SORT LIST BAR -->
    <div class="sort-list-bar sct-color-1 style-2 text-center">
        <div class="container">
            <div id="filters-container" class="cbp-l-filters-button">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter">12</div>
                </div>
                <div data-filter=".identity" class="cbp-filter-item">
                    Identity <div class="cbp-filter-counter">5</div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Web Design <div class="cbp-filter-counter">7</div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Graphic <div class="cbp-filter-counter">7</div>
                </div>
                <div data-filter=".logos" class="cbp-filter-item">
                    Logo <div class="cbp-filter-counter">4</div>
                </div>
            </div>
        </div>
    </div>

    <!-- SORT LIST ITEMS -->
    <section class="sort-list-wrapper sct-color-1">
        <div class="cbp-container cbp-boxed">
            <div id="grid-container" class="cbp-l-grid-fullWidth">

                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_cowboy_dreaming.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Rune Bear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Cowboy Dreaming</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Rune Bear</div>
                </div>

                <div class="cbp-item web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_making_an_auto_insurance_claim.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Switchback</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Making An Auto Insurance Claim</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Switchback</div>
                </div>

                <div class="cbp-item identity web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_the_artificial_policeman.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Poets Reading the News</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">The Artificial Policeman</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Poets Reading the News</div>
                </div>

                <div class="cbp-item identity">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_black_hole_ekphrastic.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">The Ekphrastic Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Black Hole Ekphrastic</a>
                    <div class="cbp-l-grid-masonry-projects-desc">The Ekphrastic Review</div>
                </div>

                <div class="cbp-item graphic motion">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_terror_house_three_poems.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Terror House Magazine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Three For The Road</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Terror House Magazine</div>
                </div>

                <div class="cbp-item motion logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_otolith_four_poems.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Otolith</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Four Poems</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Otolith</div>
                </div>

                <div class="cbp-item graphic web-design">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_asleep_at_wheel.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Better Than Starbucks</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Asleep At The Wheel</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Better Thank Starbucks</div>
                </div>

                <div class="cbp-item graphic logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/Images/Poems/henry_crawford_driving_across_a_bridge.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="portfolio-item-1.html" class="btn btn-sm btn-base-5">Into the Void</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Driving Across a Bridge</a>
                    <div class="cbp-l-grid-masonry-projects-desc">Into the Void</div>
                </div>





            </div> <!-- end grid container -->

        </div>

    </section>

</div>


@section Scripts
{

        <!-- Cube Portfolio -->
        <script src="~/Content/assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script src="~/Content/assets/cubeportfolio/js/jquery.cubeportfolio-4b.js"></script>

        <!-- App JS -->
        <script src="~/js/dvs.app.js"></script>
}

