@{
    ViewBag.Title = "SurreyStreetPoetry";
}
    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>Surrey Street Poetry Group</span>   
                    <span class="section-subtitle"></span>
                </h3> 
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">                                        
                            <img src="~/Images/Poems/gettysburg_july_1_1863.jpg" alt="" />
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Gettysburg, July 1, 1863<br /><small>Renee Gherity</small>
                            </h3>                          
                            @Html.ActionLink("Gettysburg, July 1, 1863", "Poem", "Poems", new { fileName="gettysburg_july_1_1863.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                                        
                            <img src="~/Images/Poems/one_afternoon_in_the_american_civil_war.jpg" alt="American Civil War Cannon" />

                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                One Afternoon In The American Civil War<br /><small>Henry Crawford</small>
                            </h3>
                            @Html.ActionLink("One Afternoon In The American Civil War", "Poem", "Poems", new { fileName="one_afternoon_in_the_american_civl_war.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
 
  
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>
    </section>

