@{
    ViewBag.Title = "Videos";
}

@section Styles {



}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Poems/Videos" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Videos" />
    <meta property="og:description" content="Videos of Henry Crawford" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Website/Videos_FB_Cover.png" />
}

<!-- SECTION -->
<section class="sct-color-1 slice">

    <div class="container">

        <div class="section-title-wrapper style-1 v1">
            <h3 class="section-title center">
                <span>Videos</span>
                <span class="section-subtitle">Videos made of my poems.</span>
            </h3>
        </div>

        <div class="row">


            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">The Artificial Policeman</h2>
                        <div class="post-meta-top" style="background-color:black;">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://player.vimeo.com/video/426541597" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">
                            Blackout
                        </h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/w5MIjy1DQuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">
                            Driving by a Farm at a Distance
                        </h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CG4D7j_Lqjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">
                            Auto Graveyard
                        </h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/m7QM5D69aYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="row">

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Every Morning Maddie 1 (By Margaret Mackinnon's High School Class)</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/jPATN-ZuFqw" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Every Morning Maddie 2 (By Margaret Mackinnon's High School Class)</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/24viI0S9h5Y" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">It Does Kind of Burn Goodbye (By Margaret Mackinnon's High School Class)</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/34AOBw0R9Xs" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">It Does Kind of Burn GoodBye (By an Anonymous Reader)</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/I7C6GgtNWC4" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">The Convergence</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/0_9IAZF8sKI" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Poetry Templates</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/RfQkYxkWBb4" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- SECTION -->
<section class="sct-color-1 slice">

    <div class="container">

        <div class="section-title-wrapper style-1 v1">
            <h3 class="section-title center">
                <span>Readings</span>
                <span class="section-subtitle">Videos of readings and public appearances.</span>
            </h3>
        </div>



        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">On Grace Cavalieri's The Poet and the Poem</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/j9TwhDYOFyY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />


        <div class="row">

            <h1>Takoma Park Poetry Series</h1>

            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Every Morning Maddie</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/xvQYroY28xQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Saturday Morning</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/2TEP9CFYTEI" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Coming Attraction</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/uCL1t4_shrQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">It Does Kind of Burn...</h2>
                        <div class="post-meta-top">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/CHKe7b0ZY8g" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">The Orientation</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/DjOUkO3qIW8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Oh, Columbia</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jZda80RKKjI" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Lyndon Johnson</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/w6LVMhc0EOA" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-item">
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">A Splendid Wake 6</h2>
                    </div>
                    <div class="post-meta-top">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/NUs82qNv144" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</section>

@section Scripts {



}