@{
    ViewBag.Title = "Walking on a City Street";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Poems/WalkingOnACityStreet" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Walking on a City Street" />
    <meta property="og:description" content="A walk through the city." />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/walking_on_a_city_street_04.png" />    
}

    <section class="sct-color-1 slice">
        <div class="container">

                <div class="row">
                <div class="col-md-3">
                    <!-- SIDEBAR -->
                    <div class="sidebar">
            
            <div class="sidebar-object">

            <div class="mb-20">
            <div class="block article grid bb">
                <div class="view view-first">
                    <img src="~/Images/Poems/walking_on_a_city_street_08.png">                                         
                    <div class="mask v-align-middle">
                        <div class="p-15">
                            <span class="text-center">
                                <a href="~/Images/Poems/walking_on_a_city_street_08.png" class="btn btn-circle btn-b-base-5 theater">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="block article grid bb">
                <div class="view view-first">
                    <img src="~/Images/Poems/walking_on_a_city_street_07.png">                                         
                    <div class="mask v-align-middle">
                        <div class="p-15">
                            <span class="text-center">
                                <a href="~/Images/Poems/walking_on_a_city_street_07.png" class="btn btn-circle btn-b-base-5 theater">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="block article grid bb">
                <div class="view view-first">
                    <img src="~/Images/Poems/walking_on_a_city_street_06.png">                                         
                    <div class="mask v-align-middle">
                        <div class="p-15">
                            <span class="text-center">
                                <a href="~/Images/Poems/walking_on_a_city_street_06.png" class="btn btn-circle btn-b-base-5 theater">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="block article grid bb">
                <div class="view view-first">
                    <img src="~/Images/Poems/walking_on_a_city_street_05.png">
                    <div class="mask">
                        <div class="view-buttons p-15">
                            <span class="text-center">
                                <a href="~/Images/Poems/walking_on_a_city_street_05.png" class="btn btn-circle btn-b-base-5 theater">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
            </div>
            </div>
            </div>                            </div>
                <div class="col-md-6">
                    <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title left">
                        <span>Walking On A City Street</Span>
                    </h3>
                </div>
                <p>
                I am walking&nbsp;&nbsp;|| walking in the city<br />
                breathing in || these once modern streets<br />
                savoring each new step || taking in<br />
                the morning's montage || the hock shops<br />
                coffee shops || Budweiser trucks ||<br />
                women || up from the subway || long-skirted<br />
                stepping out in arcs || of self-assurance<br />
                I marvel || at the bricks of buildings<br />
                the walking all || the working hands<br />
                the working fingers || punching keys <br />
                meaning things || all because some of us<br />
                a very long time ago || learned <br />
                out of some cruelty or another || to stand up<br />
                erect || with two feet on the ground<br />
                and walk this earth.<br />
                <br />
                So I'm walking || walking in the city<br />
                the nights of streets&nbsp;&nbsp;|| flow with information<br />
                devoid of daylight matter || neon time<br />
                under a planetarium sky || chairs and desks wait<br />
                in vacant office windows || God waits too || always<br />
                just around the corner || in the unseen whoosh<br />
                of a late-departing bus || in the ends of hours<br />
                eight stories up || a father dreams his son saluting <br />
                down here || a bartender is wiping up the night <br />
                my bones remember || walking out of Africa<br />
                the promise we'd meet again || our journeys<br />
                have been long || taken us everywhere <br />
                || but here we are || walking || walking ||<br />
                walking on a city street.<br />  
                <br />
                <i>From American Software</i>                                      
                </p> 
                    </div>  
                    <div class="col-md-3">
                        <!-- SIDEBAR -->
                    <div class="sidebar">

                <div class="sidebar-object">

                <div class="mb-20">
                <div class="block article grid bb">
                    <div class="view view-first">
                        <img src="~/Images/Poems/walking_on_a_city_street_04.png">                                         
                        <div class="mask v-align-middle">
                            <div class="p-15">
                                <span class="text-center">
                                    <a href="~/Images/Poems/walking_on_a_city_street_04.png" class="btn btn-circle btn-b-base-5 theater">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="block article grid bb">
                    <div class="view view-first">
                        <img src="~/Images/Poems/walking_on_a_city_street_03.png">                                         
                        <div class="mask v-align-middle">
                            <div class="p-15">
                                <span class="text-center">
                                    <a href="~/Images/Poems/walking_on_a_city_street_03.png" class="btn btn-circle btn-b-base-5 theater">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="block article grid bb">
                    <div class="view view-first">
                        <img src="~/Images/Poems/walking_on_a_city_street_02.png">                                         
                        <div class="mask v-align-middle">
                            <div class="p-15">
                                <span class="text-center">
                                    <a href="~/Images/Poems/walking_on_a_city_street_02.png" class="btn btn-circle btn-b-base-5 theater">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="block article grid bb">
                    <div class="view view-first">
                        <img src="~/Images/Poems/walking_on_a_city_street_01.png">                                                
                        <div class="mask">
                            <div class="view-buttons p-15">
                                <span class="text-center">
                                    <a href="~/Images/Poems/walking_on_a_city_street_01.png" class="btn btn-circle btn-b-base-5 theater">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                </div>
                </div>

</div>                            </div>
                    </div>
          </div>
        </section>

                
