@{
    ViewBag.Title = "Index";
}

<section id="profjeff" class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/JeffCrawford/ProfJeff attheboard.jpg" class="img-responsive" />
            </div>
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Jeff Crawford</span>
                    </h3>
                </div>
                <p>
                    Jeff Crawford is an associate professor of practice in the recording arts and music technology. Affectionately known by his students as Prof Jeff, he teaches at the University of the Pacific’s Conservatory of Music in Stockton California. He is the Studio Manager for the Owen Hall Recording Studio and serves as chief audio engineer for the Conservatories record label, Pac Avenue records.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="music" class="slice sct-color-1">
    <div class="container">
        <div class="section-title-wrapper style-1 v1 no-margin">
            <h3 class="section-title center">
                <span>Music, Production & Instruction </span>
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-music"></i>
                    </div>

                    <h3 class="block-title">Music Synthesis </h3>
                    <p class="text-center">With over 45-years of electronic music experience, Prof Jeff’s collection of vintage analog synthesizers such as the ARP2600, Mini Moog Model D, Synton Modular System 3000, and Mini Moog Voyager XL, forms the foundation for his direction in electronic music composition.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-microphone"></i>
                    </div>

                    <h3 class="block-title">Audio Recording</h3>
                    <p class="text-center">From stereo sound-on-sound to multi-track reel-to-reel recording, Prof Jeff’s time in the recording studio is extensive.  Although the magnetic tape is gone, advanced recording and microphone techniques play a crucial component to his audio production style.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-desktop"></i>
                    </div>

                    <h3 class="block-title">Digital Audio Workstations</h3>
                    <p class="text-center">Prof Jeff uses a wide array of digital audio tools. The MIDI and audio sequencing program, Logic Pro X Pro is his digital workstation of choice. He is also an acomplished teacher of Pro Tools. He creates ambient and soundscape music with Reason Studio and beats with Ableton Live.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="block hero bg-base-1">
                    <div class="block-icon">
                        <i class="fa fa-wifi"></i>
                    </div>

                    <h3 class="block-title">Plug-ins</h3>
                    <p class="text-center">Prof Jeff uses many plug-in Instruments and effects to shape the sound for his original compositions. These are “plug-ins” which are inserted directly into the audio signal path, offering a wide range of synthesized instruments and stereo-sonic textures.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="synths" class="slice sct-color-1">
    <div class="container">
        <div class="section-title-wrapper style-1 v1 no-margin">
            <h3 class="section-title center">
                <span>Synthesizer Gallery</span>
            </h3>
        </div>

        @*Row 1 of Gallary*@
        <div class="row">
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/1-Logic Pro X.png" />
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/1-Logic Pro X.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Logic Pro X</a>
            </div>
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/1976 Mini Moog Model D.JPG">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/1976 Mini Moog Model D.JPG" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">1976 Mini Moog MOdel D</a>
            </div>


            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/2-Pro Tools.png">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/2-Pro Tools.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Pro Tools</a>
            </div>
        </div>


        <br /><br /><br />


        @*Row 2 of Gallary*@
        <div class="row">
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-first">
                            <img src="~/Images/JeffCrawford/2010Mini Moog VoyagerXL.jpeg" />
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/2010Mini Moog VoyagerXL.jpeg" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">2010 Mini Moog Voyager XL</a>
            </div>
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/3-Reason Studio.png">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/3-Reason Studio.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Reason Studio</a>
            </div>




            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/4-Ableton Live.png">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/4-Ableton Live.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Abelton Live</a>
            </div>
        </div>


        <br /><br /><br />



        @*Row 4 of gallarey*@
        <div class="row">
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-first">
                            <img src="~/Images/JeffCrawford/1-Logic Pro X.png" />
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/1-Logic Pro X.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Logic Pro X</a>
            </div>
            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/1976 Mini Moog Model D.JPG">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/1976 Mini Moog Model D.JPG" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">1976 Mini Moog MOdel D</a>
            </div>


            <div class="col-md-4">
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view view-second">
                            <img src="~/Images/JeffCrawford/2-Pro Tools.png">
                            <div class="mask v-align-middle">
                                <div class="p-15">
                                    <span class="text-center">
                                        <a href="~/Images/JeffCrawford/2-Pro Tools.png" class="btn btn-lg btn-circle btn-b-base-5 theater">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Pro Tools</a>
            </div>
        </div>


    </div>
</section>



<section id="studio" class="slice sct-color-1">
    <div class="container">
        <div class="section-title-wrapper style-1 v1 no-margin">
            <h3 class="section-title center">
                <span>Musical Spaces </span>
            </h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Owens Hall Recording Studio</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/JeffCrawford/OwenHallRecordingStudio.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/JeffCrawford/Grandpiaonintheroom.jpeg" class="img-responsive">
            </div>
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Grand Piano Room</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="slice sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>Drum Studio</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/JeffCrawford/Drumsinthesoundstudio.jpeg" class="img-responsive">
            </div>
        </div>
    </div>
</section>



<section class="slice sct-color-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/JeffCrawford/MyHomeStudio.jpeg" class="img-responsive">
            </div>
            <div class="col-md-8">
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm left">
                        <span>My Own Home Studio</span>
                    </h3>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. Over set was for him own gathering for form forth Blessed also shall and, moved together it earth be.
                </p>
            </div>
        </div>
    </div>
</section>
